.login-form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.register-form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.forgot-form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.SubmitRequest{
  text-align: center;
  padding-left: 400px;
}
.Project-form {
  width: 50%;
}
.project {
  height: 220px;
  padding-bottom: 480px;
  text-align: left;
}
.belowPicture {
  height: 220px;
  padding-bottom: 370px;
  text-align: left;
}
.projectHeader {
  text-align: center;
  height: 0px;
}
.projectPicture {
  padding-left: 900px;
}
.profileSettings {
  text-align: center;
  
}
.profilePicture {
  display: block;
  padding-left: 485px;
  width: 50%;

}
.mainScreen {
  text-align: center;
}
/*
.changeEmail {
  width: 17%;
  margin: 0px;
  height: 100%;
  padding-left: 50%;
  text-align: center;
}
.changePassword {
  width: 100%;
  margin: auto;
  height: 100%;
}
*/